@import 'main/helpers/settings';
@import 'main/helpers/mixins';

.column.small-centered, .columns.small-centered {
  position: fixed;
}

.content {
  margin: -2em 0 2em;
}

.sidebar-app {
  top: em-calc(75px);
  right: 10%;
  width: 9.75rem;
}

.guide-section {
  margin: em-calc(75px) 0;
  h2[data-offset] {
    font-size: 2em;
  }
}

/* code sections */
pre {
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  padding: 1em;
  margin: 0em;
  background: #f2f2f2;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* code examples */
.codex {
  margin: 16px 0;
}

/* sidebar list styles */
.sidebar-app {
  ul {
    list-style-type: none;
    text-align: right;
    margin-top: 0;
    li {
      &.hovered {
        border-left: 2px solid #ff008a;
      }
    }
  }
}