@import "main/helpers/settings";

.top-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  > li {
    display: inline-block;
    margin: $default-spacing/2 $default-spacing;
    padding: 0;
    font-size: 1.5em;
  }
}