.utility-nav {
	background-color:white;
	height: auto;
	border-bottom: 1px solid $off-white-dk;
	p {
		font: 16px $serif;
		font-style: italic;
		margin: 7px 0 0 0;
	}
	.promo {
		text-align: center;
		float: center;
		@media only screen and (min-width: 64.063em) {
			text-align: left;
			float: left;
		}
	}
	a {
	@include transition;
	color: $grey-dk;
	text-decoration: none;
	&:focus,
	&:hover {
		color: $pink;
	}
}
}

.utility {
	float: right;
	list-style: none;
	font: 16px serif;
	font-style: italic;
	padding-top: 3px;
	li {
		display: inline-block;
		padding: 0 1em;
		border-left: 1px solid $off-white-dk;
		margin-bottom: 3px;
	}
	.bag-btn {
		width: 70px;
		height: 22px;
		border-radius: 4px;
		background-color: $pink;
		padding: 5px;
	}
	.bag-icon {
		padding: 0 8px;
		margin-top: -5px;
	}
	.cart-items {
		position: absolute;
		font: 16px $sans-serif;
		font-weight: 600;
		color: white;
		margin-top: -3px;
	}
}

.main-nav {
	height: auto;
	border-bottom: 1px solid $off-white-dk;
	background: url(/a/i/nav-bg.jpg) no-repeat center;
	.fp-logo {
		height: auto;
		width: 212px;
	}
	.links {
		text-align: center;
		li {
			display: inline-block;
			padding: 0 1.5em;
			a {
				font: 18px $serif;
				font-style: italic;
			}
		}
	}
	.row {
		margin-top: 5px;
	}
	a {
	@include transition;
	color: $grey-dk;
	text-decoration: none;
	&:focus,
	&:hover {
		color: $pink;
	}
}
}


.sub-nav {
	height: auto;
	border-bottom: 1px solid $off-white-dk;
	.sub-links {
		text-align: center;
		li {
			display: inline-block;
			padding: 0 2em;
			a {
				font: 14px $sans-serif;
				text-transform: uppercase;
				letter-spacing: 2px;
			}
		}
	}
	a {
	@include transition;
	color: $grey-dk;
	text-decoration: none;
	&:focus,
	&:hover {
		color: $pink;
	}
}
}

.style-content {
	margin-top: 1em;
}
