/* Search for specific terms to find styles */
/* Button styling */
/* Label styling */
/* Product Detail Page */


/* Button styling */
.btn-group {
	list-style: none;
	li {
		display: inline-block;
	}
}

button {
	@include rounded(4px);
	height: 56px;
	width: auto;
	background-color: $pink;
	border: 0;
	font: 21px $sans-serif;
	font-weight: 600;
	color: white;
	padding: 0 32px;
	border: none;
	outline:none;
}
.primary-hover {
	background-color: $pink-dk;
}

button.secondary {
	height: 32px;
	background-color: white;
	border: 2px solid $pink;
	font: 14px $sans-serif;
	font-weight: 600;
	color: $pink;
	padding: 0 16px;
}
.secondary-hover {
	@extend button.secondary;
	background-color: $pink;
	color: white;
}

button.tertiary {
	height: 32px;
	background-color: $fpme-accent;
	font: 14px $sans-serif;
	font-weight: 600;
	color: white;
	padding: 0 16px;
}
.tertiary-hover {
	@extend button.tertiary;
	background-color: $fpme-accent-dk;
}

/* Label styling */

ul.radio-group,
ul.checkbox-group {
	list-style: none;
	li {
		margin: 8px 0;
	}
}

placeholder {
	color: $grey-lt;
}
::-webkit-input-placeholder {
	color: $grey-lt;
}
:-moz-placeholder { /* Firefox 18- */
	color: $grey-lt;
}
::-moz-placeholder {  /* Firefox 19+ */
	color: $grey-lt;
}
:-ms-input-placeholder {  
	color: $grey-lt;
}


label {  
	display: inline-block;  
	cursor: pointer;
	font: 12px $sans-serif;
	color: $grey;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
}

label.lrg {
	font: 16px $sans-serif;
	color: $grey-dk;
	font-weight: 600;
	text-transform: none;
	letter-spacing: 0;
}

label.radio,
label.checkbox {
	font: 14px $sans-serif;
	color: $grey-dk;
	font-weight: 400;
	text-transform: none;
	letter-spacing: 0;
}

input[type="text"] {
	@include rounded(4px);
	display: block;
	margin-bottom: 32px;
	padding-left: 20px;
	height: 32px;
	width: 100%;
	border: 1px solid $grey-lt;
	font: 14px $sans-serif;
	color: $grey-dk;
	box-shadow: none;

	&:focus {
		border: 2px solid $pink;
		outline: none;
	}
}


input[type="radio"],
input[type="checkbox"]{
	display:none;
}

label.radio:before {
	@include rounded(10px);
	content: "";
	float: left;  
	display: block;
	width: 20px;  
	height: 20px;
	margin-top: -2px;
	margin-right: 16px;
	left: 0;
	background-color: white; 
	border: 1px solid $grey;
}

input[type=radio]:checked + label:before {
	background: url(/a/i/global/pink-radio.svg) no-repeat;
	width: 20px;
	height: 20px;
	background-size: 20px 20px; 
	border: none;
}

input[type=radio]:checked + label {  
	color: $pink;
	font-weight: 700;
}  


label.checkbox:before {  
	content: "";
	float: left;  
	display: inline-block;
	width: 20px;  
	height: 20px;
	margin-top: -2px;
	margin-right: 16px;
	left: 0;
	background-color: white; 
	border: 1px solid $grey;
}

input[type=checkbox]:checked + label:before {
	background: url(/a/i/global/checkbox-active.svg) no-repeat scroll center white;
	background-size: 12px 12px; 
	width: 20px;
	height: 20px;
	border: 2px solid $pink;
}

input[type=checkbox]:checked + label {  
}  

.dropdown select {
	@include rounded(4px);
	border: 1px solid $grey-lt;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: white url(/a/i/global/input-dd-arrow.svg) no-repeat 97.5% center;
	height: 32px;
	width: 50%;
	text-indent: 0.01px;
	text-overflow: "";
	font: 14px $sans-serif;
	color: $grey-dk;
	padding-left: 20px;
	box-shadow: none;
	&:focus {
		border: 2px solid $pink;
		outline: none;
	}
}

/* Product Detail Page */

.swatches {
	list-style: none;
	li {
		display: inline-block;
		padding-right: 8px;
		padding-bottom: 5px;
		a {
			img {
				@include rounded(20px);
				height: 40px;
				width: 40px;
				&:hover,
				&:focus  {
					border: 2px solid $grey-dk;
				}
			}
			&:hover,
			&:focus {
				border: none;
			}
			.selected {
				border: 3px solid $pink;
			}
		}
	}
}
.selected-text {
	font-weight: 700;
}

.length {
	list-style: none;
	li {
		display: inline-block;
		margin-right: 10px;
		a {
			@include transition(0);
			@include rounded(4px);
			font: 14px $sans-serif;
			color: $grey;
			width: auto;
			height: 32px;
			padding: 7px 15px;
			border: 1px solid $grey;
			&:hover,
			&:focus {
				color: $pink;
				border: 1px solid $pink;
			}
		}
		a.selected {
			border: 3px solid $pink;
			font-weight: 700;
			color: $pink;
		}
	}
}

.size {
	list-style: none;
	a {
		@include transition(0);
		font: 14px $sans-serif;
		color: $grey;
		li {
			display: inline-block;
			@include rounded(20px);
			width: 40px;
			height: 40px;
			border: 1px solid $grey;
			text-align: center;
			padding-top: 10px;
			&:hover,
			&:focus {
				border: 1px solid $pink;
			}
		}
		&:hover,
		&:focus {
			color: $pink;
			border: none;
		}
	}
	a.selected {
			color: $pink;
			font-weight: 700;
			li {
				padding-top: 8px;
				border: 3px solid $pink;
			}
		}
}

.pdp-dropdown {
	@extend .dropdown;
	width: 130px;
	background: 80.5% center;
}

.product-block {
	.browse-pic {
		width: 100%;
	}
	.promo {
		font: 10px $sans-serif;
		color: $fpme-accent;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 2px;
	}
	.browse-swatches {
		text-align: center;
		list-style: none;
		li {
			display: inline-block;
			.extra-swatch {
				color: $pink;
			}
		}
	}
}

.product-info {
	text-align: center;
	padding-top: 16px;
	p {
		margin: 0 0 6px 0;
	}
}