@mixin transition($transition: all .20s ease-in-out) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

@mixin imagezoom($transition: all .50s ease-in-out) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

@mixin rounded($radius) {
	border-radius: $radius;
	-webkit-box-radius: $radius;
	-moz-box-radius: $radius;
}