$sans-serif: Avenir Next, Arial, Helvetica, sans-serif;
$serif: "Hoefler Text", Georgia, serif;


$off-white: #f8f8f8;
$off-white-dk: #dddddd;
$grey-lt: #bebebe;
$grey: #7e7e7e;
$grey-alt: #4b4b4b;
$grey-dk: #333333;
$tan: #faf6f3;
$pink: #ff008a;

