$sans-serif: "Avenir Next", Arial, Helvetica, sans-serif;
$serif: "PT Serif", "Hoefler Text", Georgia, serif;
$nav-type: "josefin sans", "Avenir Next", Arial, Helvetica, sans-serif;

$tan: #faf6f3;
$off-white: #f8f8f8;
$off-white-dk: #dddddd;
$grey-lt: #bebebe;
$grey: #7e7e7e;
$grey-alt: #4b4b4b;
$grey-dk: #333333;
$pink: #ff008a;
$pink-dk: #c8006c;
$fpme: #6a607b;
$fpme-dk: #484350;
$fpme-accent: #659d9c;
$fpme-accent-dk: #476f6e;

