// Name: Dropdown
@import "main/helpers/settings";
@import "main/helpers/mixins";

//$default-spacing:16px

.dropdown {
  position: relative;
  @include hand-touched-border($dark-gray-bg-img, $dark-gray);
  padding: 1px;
  margin: 0 calc-ems($default-spacing/2);
  &.is-opened {
    padding: 1px 1px 0px 1px;
  }
  a {
    text-decoration: none;
    border: 0;
  }
  a:focus {
    outline: none;
    border: 0;
  }
}

.dropdown-trigger {
  background: $white;
  display: block;
  padding: calc-ems($default-spacing/2);
  position: relative;
  z-index: 30;
  &:after {
    content: '';
    display: inline-block;
    background-image: url(http://www.freepeople.com/resources/_shared/images/spritesheets/_icons_2x.png);
    background-size: 400px 1000px;
    background-position: -156px -476px;
    width: 15px;
    height: 11px;
  }
}

.dropdown-container {
  position: absolute;
  top: 33px;
  z-index: 10;
  left: -1px;
}

.dropdown-menu {
  @include hand-touched-border($dark-gray-bg-img, $dark-gray);
  position: relative;
  z-index: 99;
  display: none;
  min-width: $dropdown-min-width;
  padding: calc-ems($default-spacing) 0 0;
  margin: 0;
  max-height: 160px;
  overflow-y: scroll;
  background: $white;
  text-align: left;
  list-style: none;
  .divider {
    overflow: hidden;
    height: 1px;
    margin: calc-ems($default-spacing/2) 0;
    background: $light-gray;
  }
}

.dropdown-menu > li > a {
  clear: both;
  display: block;
  padding: calc-ems($default-spacing/4 $default-spacing);
  color: $gray;
  &:hover,
  &:focus {
    color: $light-gray;
    text-decoration: none;
    background-color: $dark-gray;
    border: 0;
  }
}

.is-opened .dropdown-menu {
  display: block;
}

.floatLeft {
  float: left;
}