@import "main/helpers/settings";

.group {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.margin-top-small {
    margin-top: $default-spacing/4;
}

.margin-right-small {
    margin-right: $default-spacing/4;
}

.margin-bottom-small {
    margin-bottom: $default-spacing/4;
}

.margin-left-small {
    margin-left: $default-spacing/4;
}

.margin-top {
    margin-top: $default-spacing;
}

.margin-right {
    margin-right: $default-spacing;
}

.margin-bottom {
    margin-bottom: $default-spacing;
}

.margin-left {
    margin-left: $default-spacing;
}