.group {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.margin-top-small {
    margin-top: 5px;
}

.margin-right-small {
    margin-right: 5px;
}

.margin-bottom-small {
    margin-bottom: 5px;
}

.margin-left-small {
    margin-left: 5px;
}


.margin-top {
    margin-top: 15px;
}

.margin-right {
    margin-right: 15px;
}

.margin-bottom {
    margin-bottom: 15px;
}

.margin-left {
    margin-left: 15px;
}