// @variables
$white: #ffffff;
$dropdown-min-width: 160px;
$default-font-size: 14px;
$max: 100%;
$grey: #cccccc;
$dark-grey: darken($grey, 60%);
$light-grey: lighten($grey, 10%);
$helvetica:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;