/**
 * Styles for product pricing and currency
 */

@import "../modules/settings";
@import "../modules/mixins";

.price {
  font-family: $sans-serif;
  letter-spacing: 1px;
  color: $gray;
}

.price--symbol {
  @extend .price;
  @include rem-sizer(14px);
}

.price--dollars {
  @extend .price;
  @include rem-sizer(20px);
}

.price--cents {
  @extend .price;
  @include rem-sizer(12px);
}

.price-markdown {
  text-decoration: line-through;
}

.price-light {
  font: {
    family: $serif;
    weight: 200;
  }
  letter-spacing: 0.5px;
}