/**
 * Styles for forms and form field input elements excluding buttons
 */

@import '../modules/settings';
@import '../modules/mixins';

input, textarea {
  @include hand-touched-border($light-gray-bg-img, $light-gray);
  padding: $default-spacing/2;
  margin: 0 0 1em 0;
  &:hover {
    @include hand-touched-border($dark-gray-bg-img, $dark-gray);
    padding: $default-spacing/2;
  }
  &:focus {
    @include hand-touched-border($pink-bg-img, $pink);
    padding: $default-spacing/2;
  }
}