/**
 * Enhanced styles for inline links
 */

@import "../helpers/settings";
@import "../helpers/mixins";

a {
  // small version
  &.small {
    @include rem-sizer(10px);
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  // serif version
  &.serif {
    font-family: $serif;
  }
}