// color styles

$pink: #FF008A;
$pink-hover: #EB007A;
$pale-pink: #EB5190;
$pale-pink-hover: #E91F72;
$black: #000000;
$gray: #7E7E7E;
$dark-gray: #3E3E3E;
$light-gray: #BEBEBE;
$tan: #F6F4F2;
$off-white: #F7F7F7;
$white: #FFF;