// stacks
$sans: "Avenir Next", Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
$serif: "Hoefler Text", Baskerville, "Baskerville old face", Garamond, Times New Roman, serif;

// weights
$light:  200;
$normal: 400;
$bold:   600;